*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: hsl(218, 28%, 13%);
    color: white;
}


/* ul{
    list-style: none;
    display: flex; */

/* li {
    margin: 0 10px;
} */
/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
header ul {
    display: flex;
}

header ul li{
    margin: 0 7px;
    cursor: pointer;
    transition: .4s ease all
}

header img{
    width: 100px;
}
header li:hover {
    transform: scale(1.2);
}

/* End of header section */

/* First section */

.first {
    padding: 5px 30px;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.first img {
    width: 450px;
    margin-bottom: 8px;
}
.first h1{
    font-weight: 900;
    font-size: 2rem;
    width: 80%;
    margin: auto;
    text-align: center;
}
.first p {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 1.1rem;
}

.first button {
    background-color: rgb(101, 226, 217);
    padding: 17px 45px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .4s ease all;
    cursor: pointer;
}
.first button:hover {
    background-color: white;
    color: rgb(101, 226, 217);
}
/* End of first section */

/* Second section */
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.second div {
    width: 500px;
    margin: 15px 15px;
    padding: 10px 20px;
    text-align: center;
}
.second div img {
    margin-bottom: 50px;
}
.second div h1 {
    margin-bottom: 18px;
}

/* End of second section */

/* Third Section */
.third {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 100px auto;
    padding: 5px 20px;
}
.third img {
    width: 400px;
    margin-right: 20px;
    margin-top: 10px;
}
.third div h1 {
    margin-bottom: 20px;
}
.third div {
    max-width: 500px;
}
.third div p {
    margin-bottom: 20px;
}
.third div a {
    color: rgb(101, 226, 217);
    position: relative;
}
.third div a::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 1px;
    background: rgb(101, 226, 217);
    bottom: -8px;
    left: 0;
}
.fourth{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.fourth > div{
    width: 380px;
    margin: 10px 15px;
    background-color: hsl(217, 63%, 12%);
    padding: 30px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    
    
}
.fourth > div>div{
    display: flex;
    margin-top: 20px;
    align-items: center; 
}

.fourth img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 4%;
    font-size: 5px;
}
.fourth h1 {
    font-size: 1.2rem;
}
.fourth > div>div p {
    font-size: .9rem;
    margin-top: 2px;
}
.fifth{
    /*  */
    max-width: 600px;
    background-color: hsl(217, 76%, 8%);
    position: absolute;
    bottom: -90px;
    left: 25%;
    padding: 30px 40px ;
    text-align: center;
    border-radius: 20px;


}
.fifth h1{
    margin-bottom: 10px;
    padding: 5px;
}
.fifth p {
    margin-bottom: 10px;
    padding: 5px;
}
.fifth div input{
    padding: 13px;
    border-radius: 20px;
    border: none;
    width: 60%;
    color: black;
}
.fifth div button{
    padding: 15px;
    border-radius: 25px;
    background-color: aqua;
    color: black;
    font-weight: strong;
    width: 37%;
}
.fifth button:hover{
    background-color: white;
    cursor: pointer;
    color: aqua;
    transition: .4s ease all;
}
.fifth div{
    font-size: 18px;
}
main{
    position: relative;
    padding-bottom: 200px;
}
footer{
    padding: 140px 80px 20px;
    background-color: hsl(216, 53%, 9%);
}

footer > img{ 
    margin-bottom: 30px;
}

footer > div {
    display: flex;
    justify-content: space-between;
    
}
.div2 > div, .div5 {
    display: flex;
}
.div2 > div {
    margin-bottom: 10px;
}
.div1 {
    width: 30%;
    display: flex;
}
footer i {
    margin-right: 20px;
}
.div5 i {
    margin-right: 10px;
}
footer li {
    margin-bottom: 8px;
}


@media only screen and (max-width: 600px ){
    /* First section */

.first {
    width: 100%;
}
.first img {
    width: 400px;
}
.first h1{
    font-size: 1.8rem;
    width: 100%;
}
.first p {
    width: 100%;
    font-size: 1rem;
}

/* End of first section */


/* Third Section */
.third {
    width: 100%;
    flex-direction: column;
    padding: 5px 30px;
}
.third img {
    width: 90%;
    margin-bottom: 30px;
}

.fifth{
    /*  */
    max-width: 90%;
    left: 5%;
    padding: 15px 20px ;
}

.fifth div button{
    font-size: .8rem;
    width: 37%;
}
.fifth div{
    font-size: 18px;
}


   footer {
    padding: 140px 30px 20px;
   }
    footer > div {
        flex-direction: column;
    }
    .sub-div > div {
        margin-bottom: 25px;
    }
    .div1 {
        width: 100%;
    }
    .div5 {
        justify-content: center;
    }
}